/* General */

body,
html{
    height: 100%
}

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    scroll-behavior: smooth;
}

hr{
    border-top: 1px solid #c3d5e3;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Main Headings */

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
    color: #2B2F33;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 22px;
}

h6{
    font-size: 20px;
    margin-bottom: 36px;
}

a{
    cursor: pointer;
    transition: .5s;
    color: #4a5359;
}

a:hover{
    color: #92a6b3;
    transition: .5s;
    text-decoration: none;
}

/* Tables */

p, td{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    line-height: 26px;
}

table, tr, th, td{
    border: solid 1px #29597e;
    text-align: center;
    color: white;
    padding: 8px;
}

table a{
    color: #adc9dc;
    transition: .5s;
}

table a:hover{
    color: #9bcced;
    transition: .5s;
}

th{
    background-color: #6e90a9;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even){
    background-color: #7793a9;;
}

tr:nth-child(odd){
    background-color: #5f7c92;
}

/* Blockquote */

blockquote{
    border: 0 none;
    position: relative;
    margin: 2.2em 0;
    padding: .5em 3em .5em 3em;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

blockquote p{
    font-size: 30px;
    font-style: italic;
}

blockquote:before{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    font-size: 4em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
    color: #29597e;
}

blockquote:after{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    float: right;
    font-size: 4em;
    line-height: 1;
    right: 0;
    bottom: -.5em;
    content: "\201D";
    color: #29597e;
}

/* Buttons */

.button-a, .button-c{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border: solid 2px #2b2f33;
    padding: 8px 16px;
    letter-spacing: 2px;
    border-radius: 0;
    text-transform: uppercase;
    transition-duration: .5s;
}

.button-a:hover, .button-c:hover{
    background-color: #919faa;
    cursor: pointer;
    transition-duration: .5s;
    color: white !important;
    text-decoration: none;
}

.button-b{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: solid 2px white;
    padding: 8px 16px;
    letter-spacing: 2px;
    border-radius: 0;
    text-transform: uppercase;
    transition-duration: .5s;
}

.button-b:hover{
    background-color: white;
    cursor: pointer;
    transition-duration: .5s;
    color: black;
}

/* Navbar */

.header-nav{
    padding: 30px 96px;
}

.header-nav-2{
    padding: 30px 96px;
    display: none;
}

#h-phone-icon{
    margin: 0 30px;
}

#h-phone-icon-2{
    margin: 15px 15px 0 0;
}

#h-mail-icon-2{
    margin: 15px 0 0 15px;
}

#h-phone-icon-3{
    height: auto;
    width: 0;
}

#fsmenu{
    height: 0%;
    width: 100%;
    background-color: #50565A;
    position: fixed;
    z-index: 999998;
}

#fsmenu ul{
    list-style: none;
    position: relative;
    top: 7%;
    padding: 0;
    transition: linear;
}

#fsmenu a{
    text-align: center;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    transition: .5s;
}

.fsul{
    display: none;
}

#fsmenu li{
    margin: 21px 0;
}

#fsmenu a:hover{
    cursor: pointer;
    color: #d6d6d6;
    text-decoration: none;
    transition: .5s;
}

/* Hamburger */

#hamburger{
    position: inherit;
    float: right;
    top: 9px;
    width: 42px;
    height: 42px;
    z-index: 999999;
    display: block;
}

#hamburger:hover > #b{
    width: 86%;
}

input[type=checkbox]:checked ~ #hamburger > #a{
    width: 100%;
    transform-origin: 4px 8px;
    transform: rotate(45deg);
    transition: .5s;
    transition-delay: .1s;
}

input[type=checkbox]:checked ~ #hamburger > #b{
    width: 100%;
    transform-origin: 22px 3px;
    transform: rotate(-45deg);
    transition: .5s;
    transition-delay: .1s;
}

input[type=checkbox]:checked ~ #hamburger > #c{
    transition: .5s;
    visibility: hidden;
    transform: rotate(45deg);
    transform-origin: 23px -6px;
}

#hbcheckbox{
    visibility: hidden;
    height: 0;
    width: auto;
}

#a{
    width: 100%;
    height: 3px;
    background-color: white;
    transition: .5s;
}

#b{
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 10px 0;
    transition: .5s;
    float: right;
}

#c{
    width: 70%;
    height: 3px;
    background-color: white;
    float: right;
    transition: .5s;
}

/* Header */

.home header{
    background-image: url(assets/main-header-1.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

header{
    background-image: url(assets/sub-header-13.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Text-Drawer */

.home .text-drawer{
    background-color: #50565A;
    padding: 84px 300px 90px;
    color: white;
    text-align: center;
}

.text-drawer{
    background-color: white;
    padding: 84px 300px 90px;
    color: #2b2f33;
}

small{
    color: #2b2f33;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p{
    color: #2b2f33;
}

article p{
    margin-bottom: 20px;
}

article h2{
    margin-bottom: 34px;
}

article h3,
article h4,
article h5,
article h6{
    margin-bottom: 20px;
}

.has-normal-font-size, .has-regular-font-size{
    font-size: 15px;
}

.map {
    height: 582px;
    width: 100%;
}

/* Info Ctas Drawer */

.info-ctas{
    background-color: #c3d5e3;
    padding: 94px 100px 96px;
}

#cta-image-1{
    background-image: url(assets/gallery-image-14.jpg);
    background-size: cover;
    width: 770px;
    height: 702px;
}

#cta-image-2{
    background-image: url(assets/gallery-image-2.jpg);
    background-size: cover;
    width: 770px;
    height: 702px;
}

.box-1{
    background-color: white;
    padding: 78px 75px 78px 55px;
    width: 570px;
    z-index: 99999;
    position: relative;
    top: 15%;
}

.box-2{
    background-color: white;
    padding: 78px 55px 78px 75px;
    width: 570px;
    z-index: 99999;
    position: relative;
    top: 15%;
    right: 123%;
}

.box-1-svg{
    position: absolute;
    right: -46px;
    top: 40px;
}

.box-2-svg{
    position: absolute;
    right: -77px;
    bottom: 82px;
}

.info-ctas h3{
    margin-bottom: 0;
}

.info-ctas p{
    margin: 45px 0;
}

#row-margin{
    margin-top: 75px
}

/* Book Now Ctas Drawer */

.book-cta{
    background-image: url(assets/Old\ Schoolhouse\ B_B\ twin\ bedroom.jpg);
    background-size: cover;
    padding: 166px 336px;
}

.book-box{
    background-color: #ffffffa4;
    padding: 75px 58px 68px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    max-width: 70%;
    margin: 0 auto;
}

.book-box p{
    font-size: 16px;
    margin: 42px 0 40px;
    font-family: 'Lato', sans-serif;
}

/* News Drawer */

.news-drawer{
    text-align: center;
    padding: 104px 235px 94px;
}

.news-box-1 a, .news-box-2 a{
    font-size: 22px;
    transition: .5s;
}

.news-box-1 a:hover, .news-box-2 a:hover{
    transition: .5s;
    color: #d7efff;
    text-decoration: none;
}

.news-drawer p, .news-box-1 a, .news-box-2 a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
}

.news-drawer h2{
    margin-bottom: 34px;
}

.news-box-1{
    background-color: #919FAA;
    padding: 190px 45px 205px;
}

.news-box-2{
    background-color: #5A6165;
    height: 50%;
    padding: 50px 44px 86px;
}

.news-drawer .button-a{
    margin: 60px auto 0;
}

#news-image-1{
    background-size: cover;
    background-position: center;
    background-image: url(assets/placeholder.jpg);
}

#news-image-2{
    background-size: cover;
    width: 100%;
    height: 50%;
    background-position: center;
    background-image: url(assets/placeholder.jpg);
}

#nb2p{
    padding-right: 0;
}

/* Footer */

footer{
    background-color: #50565A;
    padding: 92px 142px 96px;
    color: white;
}

.footer-bottom{
    background-color: #2B2F33;
    color: white;
    padding: 8px;
    text-align: center;
}

footer p{
    margin-bottom: 0;
}

.footer-bottom p{
    color: white;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.footer-icons{
    margin-right: 15px;
}

footer a{
    color: white;
    transition: .5s;
}

footer a:hover{
    color: #92a6b3;
    transition: .5s;
    text-decoration: none;
}

footer ul{
    list-style: none;
    line-height: 30px;
    font-size: 15px;
}

footer ul li::before{
    content: "\2022";
    color: #96A6B2;
    display: inline-block;
    width: 1.3em;
    margin-left: -1.32em;
}

/* Blog */

.blog article p{
    margin-top: 10px;
}

.blog-box{
    padding: 20px 0;
    text-align: left;
}

.blog-box h5{
    transition: .5s;
    letter-spacing: 1px;
    text-align: left;
}

.blog-box h5:hover{
    color: #92a6b3;
    transition: .5s;
}

.blog-box a{
    text-decoration: none;
}

.blog-image{
    height: 245px;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
}

.blog .text-drawer{
    padding: 84px 200px 40px;
}

.blog-item{
    margin-bottom: 60px;
}

/* Sidebar */

#sidebar{
    text-align: left;
}

#sidebar h6{
    padding: 0 10px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#sidebar li{
    line-height: 25px;
    margin-bottom: 10px;
}

#sidebar a{
    color: #4a5359;
    transition: .5s;
}

#sidebar a:hover{
    color: #92a6b3;
    transition: .5s;
    text-decoration: none;
}

.sidebar-box{
    margin-bottom: 60px;
}

/* Gutenberg edits */

.wp-block-button__link{
    font-size: 16px ;
    font-family: 'Montserrat', sans-serif;
    border: solid 2px black !important;
    padding: 8px 16px ;
    letter-spacing: 2px;
    border-radius: 0;
    text-transform: uppercase;
    transition-duration: .5s;
    margin-bottom: 20px;
}

.wp-block-button__link:hover{
    background-color: #919faa;
    cursor: pointer ;
    transition-duration: .5s;
    color: white !important;
    text-decoration: none;
}

.wp-block-media-text .wp-block-media-text__content{
    padding: 0 0 0 8%;
}

.has-media-on-the-right .wp-block-media-text__content{
    padding: 0 8% 0 0;
}

.wp-block-image,
.wp-block-image .alignleft,
.wp-block-image .alignright{
    margin-bottom: 30px;
}

.wp-block-media-text{
    margin-bottom: 30px;
}

.wp-block-spacer{
    height: 40px !important;
}

@media screen and (max-width: 1600px){
    .text-drawer{
        padding: 84px 100px 90px;
    }
}

@media screen and (max-width: 1276px){
    .box-1-svg{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .box-2-svg{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .book-cta{
        padding: 166px 150px;
    }
}

@media screen and (max-width:1199px){
    .box-1, .box-2{
        position: initial;
        width: 100%;
    }
    #cta-image-1, #cta-image-2{
        background-position: center;
        width: 100%;
        height: 360px;
    }
    .info-ctas > .container > .row > .col-xl-3{
        padding: 0;
    }
    .news-drawer{
        padding: 104px 100px 94px;
    }
    .home .text-drawer{
        padding: 84px 200px 90px;
    }
    footer{
        padding: 92px 45px 96px;
    }
    #h-phone-icon{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    #h-mail-icon{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    #h-phone-icon-3{
        visibility: visible;
        height: auto;
        width: 27px;
        margin: 10px 43px 0 0;
    }
    .blog .text-drawer{
        padding: 84px 30px 40px;
    }
    .blog-image{
        min-height: 220px;
    }
    .wp-block-media-text {
        display: block;
        margin-bottom: 0;
    }
    .wp-block-media-text__content h1,
    .wp-block-media-text__content h2,
    .wp-block-media-text__content h3,
    .wp-block-media-text__content h4,
    .wp-block-media-text__content h5,
    .wp-block-media-text__content h6,
    .wp-block-media-text__content p{
        text-align: center;
    }
    .wp-block-media-text .wp-block-media-text__content,
    .has-media-on-the-right .wp-block-media-text__content {
        padding: 0px !important;
    }
    .wp-block-media-text__content{
        margin-top: 30px;
    }
    .wp-block-media-text__media{
        width: 600px;
        margin: 0 auto !important;
    }
}

@media screen and (max-width: 992px){
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 28px;
    }
    #cta-image-1, #cta-image-2{
        height: 320px;
    }
    .home .text-drawer, .text-drawer{
        padding: 60px 80px;
    }
    .info-ctas{
        padding: 70px 100px;
    }
    .book-cta{
        padding: 70px 0px;
    }
    .news-box-1, .news-box-2{
        padding: 65px 45px;
    }
    #news-image-1, #news-image-2{
        height: 230px;
    }
    #news-image-2{
        margin-top: 75px;
    }
    .news-drawer{
        padding: 70px 150px;
    }
    #nb2p{
        padding: 0;
    }
    .news-drawer .button-a{
        margin: 100px auto 0;
    }
    #useful-links{
        margin: 0 auto;
    }
    footer{
        text-align: center;
        padding: 70px 45px;
    }
    footer h4{
        margin: 45px 0 20px;
    }
    footer p{
        line-height: 32px;
    }
    .news-drawer h2{
        margin-bottom: 52px;
    }
    .header-nav, .header-nav-2{
        padding: 30px 40px;
    }
    #header-logo{
        width: 100%;
    }
    .home header{
        height: 640px;
    }
    #sidebar h6{
        margin: 40px 0 20px;
    }
    .wp-block-media-text {
    display: block;
    margin-bottom: 0px;
    }
    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
        margin-bottom: 26px;
    }
    .wp-block-image .alignleft,
    .wp-block-image .alignright {
        width: 100%;
        margin: 0 auto 30px !important;
        float: none !important;
    }
    .wp-block-spacer {
        height: 40px !important;
    }
    .blog-image{
        width: 70%;
        margin: 0 auto;
    }
    .blog-item, .blog-box, .blog-box h5{
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .home .text-drawer, .text-drawer {
        padding: 84px 50px 90px;
    }
    .info-ctas > .container{
        max-width: 100%;
    }
    #row-margin{
        margin-top: 0px
    }
    .info-ctas{
        padding: 0px;
    }
    #cta-image-1, #cta-image-2{
        height: 250px;
    }
    #news-image-2{
        margin-top: 0px;
    }
    .news-drawer{
        padding: 60px 0px;
    }
    .news-drawer .button-a{
        margin: 68px auto 0;
    }
    #footer-logo{
        width: 130px;
    }
    .book-box{
        background-color: #fffffff0;
    }
    .blog-image{
        height: auto !important;
        width: 100%;
    }
    #sidebar h6{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .blog article p{
        margin: 10px 0 0;
    }
    .blog .text-drawer{
        padding: 55px 50px 40px;
    }
    #sbh6{
        margin-top: 20px !important;
    }
    .wp-block-media-text__media {
        width: 88%;
    }
    hr{
        border-top: 1px solid #c3d5e3;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 599px){
    h1, h2{
        font-size: 26px;
    }
    h3{
        font-size: 22px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .news-box-1 a, .news-box-2 a{
        font-size: 20px;
    }
    .home .text-drawer, .text-drawer{
        padding: 58px 15px;
    }
    .box-1, .box-2{
        padding: 60px 30px;
    }
    .info-ctas p{
        margin: 40px 0 36px;
    }
    .book-cta{
        padding: 60px 30px;
    }
    .book-box{
        max-width: 100%;
        padding: 60px 38px;
    }
    .news-box-1, .news-box-2{
        padding: 60px 30px;
    }
    .news-drawer .button-a{
        margin: 48px auto 0;
    }
    footer{
        padding: 60px 12px;
    }
    .footer-bottom p{
        font-size: 12px;
    }
    .home header{
        height: 480px;
    }
    header{
        height: 400px;
    }
    .header-nav, .header-nav-2{
        padding: 25px 2px;
    }
    .button-b{
        font-size: 14px;
        padding: 8px 11px;
    }
    #h-phone-icon-3{
        visibility: hidden;
        width: 0;
        margin: 0;
    }
    #hamburger{
        top: 5px;
    }
    .blog .text-drawer{
        padding: 45px 15px 40px;
    }
    .button-c{
        font-size: 14px;
        padding: 6px 6px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    #h-phone-icon-2, #h-mail-icon-2 {
        margin-top: 5px;
    }
    .map {
        height: 522px;
    }
}

@media screen and (max-width: 415px){
    h1{
        letter-spacing: 1px;
    }
    .text-drawer > .container > .row > .col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    .text-drawer p{
        margin: 0 0 10px;
    }
    .footer-icons{
        margin-right: 14px;
    }
    .map {
        height: 470px;
    }
}