/** generic syle **/
#hs-headers {
    position: relative;
    width: 100%;
}

.headerimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hs-headers,
.headerimg{
    height: 628px;
}

